.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 30px;
}
.city,.date{
    font-size: 42px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}
.city{
    letter-spacing: 4px;
}
.date{
    margin-bottom: 10px;
    letter-spacing: 4px;
    font-family: 'Noto Sans';
}
@media(max-width: 880px){
    .date {
      font-size: 36px;
    }
  }
  @media(max-width: 5000px){
    .date {
      font-size: 24px;
    }
    .city{
        font-size: 22px;
    }
  }