@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap');
body {
  
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif, 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-image: url('./image/groza.jpg'); 
  background-size: no-repeat;
  background-attachment: fixed
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}
